/*removing margin*/
html, body
{
    margin: 0px;
}
/*changing background color*/
body
{
    background-color: rgb(61, 75, 94);
}
/*changing background color, dimensions and padding*/
nav
{
    background-color: rgb(91, 146, 223);
    width: 100%;
    height: 60px;
    padding-top: 20px;
}
/*styling the image size and border*/
img
{
    margin-top: 20px;
    width: 70%;
    height: 70%;
}
/*changing font-size family, margin, and color*/
a
{
    font-size: 30px;
    font-family: 'Cambria';
    margin-left: 150px;
    color:black;
}
/*styling the container which has our reviews with some margin*/
#container
{
    margin-top:50px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}
/* styling the width, text-align, border, and background-color*/
.item
{
    width: 400px;
    text-align: center;
    border: solid 3px black;
    background-color: rgb(141, 141, 189);
}
/*styling the text to the margin*/
.text
{
    margin-top: 20px;
}
/*styling the button on the active page*/
#active
{
    color:white;
}
/* This is a comment to make validations within the footer*/
.validate
{
    font-size: 12px;
    margin-left: 0px;
}